.eventheading{
    color: #800e0e;
     background-color: white;
     font-style: italic;
}

.form_button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background: #252c6a;;
}
